form .form-control {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #8E8D8F;
    background-color: #FFFFFF;
    min-height: 30px;
    width: 100%;
}

form select[class='form-control'] {
    height: 30px;
}

form .input-grp-btn {
    display: flex;
    flex-direction: row;
}

form .form-control:focus,
form .form-control:active {
    outline: #6C6599 auto 5px;
}

form .input-grp {
    margin: 15px;
    position: relative;;
}

form .input-grp .control-label {
    font-weight: bold;
    font-size: 1.1em;
}

form .input-grp .hintBox {
    color: #328396;
    padding: 5px;
}
