* {
    font-family: Lato;
    font-weight: 400;
}

body {
    font-size: 12px;
    color: #1A1C40;
    background-color: #f5f8fa;
}

/********************
    -- POPOVERS --
********************/

.popover-top {
    position: absolute;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    bottom: 44px;
    left: -40px;
    width: 100px;
    display: none;
}

.popover-top:before {
    border-top: 7px solid rgba(0,0,0,0.85);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -6px;
}

.popover-top.active {
    display: block;
}

.popover-trigger {
    position: relative;
}

.popover-trigger:focus .popover-top {
    display: block;
}

/**********************
    -- HEADER --
**********************/

header {
    background-color: #FFFFFF;
    color: #2A2A2A;
    margin-bottom: 20px;
    height: 50px;
    box-shadow: 2px 2px 2px #8E8D8F;
}

header .app-logo {
}

header .header-separator {
    height: 30px;
    margin-top: 10px;
    padding-left: 30px;
    border-left: 3px solid #13191C;
    width: 3px;
    float: left;
}
 
header .icon {
    display: block;
    margin-right: 15px;
    float: left;
    text-decoration: none;
    line-height: 1;
    height: 50px;
    vertical-align: middle;
    color: #8E8D8F;
    transition: all .15s ease-in-out;
}

header .icon:hover {
    color: #13191C;
    border-bottom: 4px solid #13191C;
}

header .icon span {
    display: block;
    float: left;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5px;
}


header .icon .text {
    font-size: 14px;
    font-weight: 600;
    margin-top: 19px;
}

/* DROPDOWNS */

.dropdown {
    position: relative;
    height: 50px;
}

.dropdown .dropdown-icon {
    margin-left: 0;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    right: auto;
    background-color: #FFFFFF;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 200px;
    box-shadow: 2px 2px 2px #2A2A2A;
    border: 1px solid #2A2A2A;

}

.dropdown .dropdown-menu.right {
    right: 0px;
    left: auto;
}

.dropdown:active .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu.active {
    display: block;
}

.dropdown .dropdown-menu li {
    padding: 20px;
    height: 60px;
    transition-property: all;
    transition-duration: 0.5s;
}

.dropdown .dropdown-menu li:hover {
    background-color: #2A2A2A;
    color: #FFFFFF;
}

.dropdown .dropdown-menu li a {
    color: #13191C;
    text-decoration: none;
    font-size: 18px;
}

/**********************
    -- TIMELINE --
*********************/

article.event {
    border: 1px solid #BFBFBF;
    box-shadow: 2px 2px 2px #BFBFBF;
    background-color: #FFFFFF;
    color: #13191C;
    padding: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}

article.event .user-picture, .sport-picture {
    width: 100%;
}

article.event .title-box {
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 0px;
}

article.event .title-box .location, .author{
    display: block;
    color: #BFBFBF;
    font-size: 0.6em;
}

article.event .title-box  .author{
    padding-bottom:5px;
}

article.event .title-box .location .icon-location {
    color: #1A1C40;
}

article.event .nb-users img {
    width: 100%;
}

article.event .event-description {
    padding-left: 10px;
}

article.event .btn-box .btn {
    float: right;
}

article.event .icons-and-tags .icon-box {
    padding-left: 0;
}

article.event .icons-and-tags .tag-box {
    background-color: #BFBFBF;
    min-height: 40px;
    text-align: center;
}

article.event .icons-and-tags .tag-box a {
    line-height: 40px;
    padding: 0 5px;
}

article.event span.icon-mt-circle {
    padding:7px;
    border: 0px;
}
article.event span.icon-mt-circle {
    display: inline-block;
    font-size: 1.4em;
    border-radius: 50%;
    margin-right: 2px;
    color:white;
}

article.event .icon-mt-google:hover {
    background-color: rgb(225, 95, 79);
}
article.event .icon-mt-google {
    background-color: rgb(221, 75, 57);
}

article.event .icon-mt-twitter:hover {
    background-color: rgb(8, 187, 255);
}

article.event .icon-mt-twitter {
    background-color: rgb(0, 172, 238);
}

article.event .icon-mt-facebook:hover {
    background-color: rgb(66, 100, 170);
}

article.event .icon-mt-facebook {
    background-color: rgb(59, 89, 152);
}

article.event .number-participants span{
    border-radius:50%;
    border:1px solid black;
    padding:4px;
}

article.event #location-map{
    width:100%;
    height:250px;
    border:0;
}

.profile{
    background-color: #ffffff;
    border: 1px solid #bfbfbf;
    box-shadow: 2px 2px 2px #bfbfbf;
    color: #13191c;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 15px;
}

.notation{
    color : #6683d9;
    padding-left: 5px;
}

.profil-list li{
    list-style-type: none;
    padding-left: 15px;
}

.profil-list ul{
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.list-selection li{
    display: inline-block;
    list-style-type: none;
    padding-left: 15px;
}

.list-selection ul{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-bottom: 5px;
}

.buttons-form{
    padding-top: 50px;
}
/*************************
    -- INDEX NEWS --
*************************/

.news-box {
    margin-top: 10px;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.news-box:hover {
    color: #2A2A2A;
}
.news-box .box-title {
    margin: 0 0 5px 0;
    color: #BFBFBF;
    font-size: 120%;
}
.news-box .box-title .title {
    color: #8E8D8F;
    border-left: 1px solid #8E8D8F;
    padding-left: 5px;
    transition: all .15s ease-in-out;
}
.news-box:hover .box-title .title {
    color: #2A2A2A;
}
.news-box .box-divider {
    height: 2px;
    width: 100%;
    background-color: #2A2A2A;
    margin-top: 5px;
}

/************************
    -- INDEX-MENU --
************************/

.index-map {
    width: 100%;
    height: 200px;
}

/************************
  -- ALIGNEMENT-TEXT --
************************/

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.text-right{
    text-align: right;
}

/************************
  -- INSCRIPTION --
************************/

.inscription {
    text-align: center;
}

.inscription h1 {
    font-size: 30px;
    color: #8E8D8F;
}

.inscription h2 {
    color: #2A2A2A;
    font-size: 20px;
    font-weight: 300;
}

.inscription label {
    font-size: 13px;
    font-weight: 300;
}

.inscription input[type="text"], .inscription input[type="password"] {
    margin-bottom: 20px;
    width: 200px;
    padding-left: 30px;
    height: 30px;
    line-height: 30px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #8E8D8F;
}

.inscription input[type="submit"] {
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    border: 1px solid #62c462;
    background: #62c462;
    color: #fff;
    transition: .3s;
}

.inscription input[type="submit"]:hover {
    border: 1px solid #62c462;
    background: transparent;
    color: #62c462;
    transition: .3s;
}
/** Param global **/

#wrap{
	display: block;
	width: 100%;
	height: 100%;
}

h1{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	background-color: #62c462;
	padding: 10px;
	color: #fff;
}

/** form subscribe **/
.form{
	margin: 40px auto;
	padding-left: 20px;
	padding-bottom: 20px;
	font-family: 'Calibri';
	width: 500px;
	height: auto;
	border-left: 1px solid #62c462;
	border-bottom: 1px solid #62c462;
}

.form input, .captcha, select{
	width: 200px;
	height: 30px;
	border: 3px solid transparent;
	margin: 5px;
	padding-left: 10px;
	border-radius: 3px;
	box-shadow: 0 4px 2px -4px #000;
}

.form .ilarge{
	width: 414px;
	border: 3px solid transparent;
	margin: 5px;
	padding-left: 10px;
	border-radius: 3px;
}

.form input:focus, select:focus{
	border: 3px solid rgba(98, 196, 98, 0.6);
}
.form input[type="checkbox"]{
	width: 10px;
	height: 10px;
	margin: 5px;
	margin-left: 10px;
	padding: 0px;
	border-radius: 3px;
	box-shadow: none;
}

form .captcha{
	border: 2px solid #333;
	
}
.condition{
	margin-left: 10px;
}
form .accept{
	border: 1px solid #62c462;
	width: 414px;
	height: 30px;
	margin: 5px;
	background-color: #62c462;
	border-radius: 2px;
	color: #fff;
	font-weight: bold;
}

.accept:hover{
	border: 1px solid #62c462;
	background-color: #eee;
	color: #62c462;
	transition: 0.5s ease;
}
pannelError{
	border: 1px solid #62c462;
	width: 500px;
	height: 200px;
	padding: 0;
	margin: 0;
}