/**************
 -- Colors --

primary: #6C6599
primary2: #433A4B
success: #328396
warning: #EBAB51
danger: #B84D61

**************/

@import "./font-awesome.css";
@import "./form.css";

@font-face {
    font-family: Lato;
    src: url("../fonts/lato/Lato-Regular.ttf");
}

* {
    font-family: Lato;
    font-weight: 400;
}

body {
    font-size: 12px;
    color: #1A1C40;
    background-color: #f5f8fa;
}

h1 {
    color: #a9a9a9;
}

.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

/********************
    -- POPOVERS --
********************/

.popover-top {
    position: absolute;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    bottom: 44px;
    left: -40px;
    width: 100px;
    display: none;
}

.popover-top:before {
    border-top: 7px solid rgba(0,0,0,0.85);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -6px;
}

.popover-top.active {
    display: block;
}

.popover-trigger {
    position: relative;
}

.popover-trigger:focus .popover-top {
    display: block;
}

/**********************
    -- HEADER --
**********************/

header {
    background-color: #FFFFFF;
    color: #2A2A2A;
    margin-bottom: 20px;
    height: 50px;
    box-shadow: 2px 2px 2px #8E8D8F;
}

header .app-logo {
    margin-top: 5px;
    height: 40px;
}

header .header-separator {
    height: 30px;
    margin-top: 10px;
    padding-left: 30px;
    border-left: 3px solid #13191C;
    width: 3px;
    float: left;
}
 
header .icon {
    display: block;
    margin-right: 15px;
    float: left;
    text-decoration: none;
    line-height: 1;
    height: 50px;
    vertical-align: middle;
    color: #8E8D8F;
    transition: all .15s ease-in-out;
}

header .icon:hover {
    color: #13191C;
    border-bottom: 4px solid #13191C;
}

header .icon span {
    display: block;
    float: left;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 5px;
}


header .icon .text {
    font-size: 14px;
    font-weight: 600;
    margin-top: 19px;
}

/* DROPDOWNS */

.dropdown {
    position: relative;
    height: 50px;
}

.dropdown .dropdown-icon {
    margin-left: 0;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    right: auto;
    background-color: #FFFFFF;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 200px;
    box-shadow: 2px 2px 2px #2A2A2A;
    border: 1px solid #2A2A2A;

}

.dropdown .dropdown-menu.right {
    right: 0px;
    left: auto;
}

.dropdown:active .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu.active {
    display: block;
}

.dropdown .dropdown-menu li {
    padding: 20px;
    height: 60px;
    transition-property: all;
    transition-duration: 0.5s;
}

.dropdown .dropdown-menu li:hover {
    background-color: #2A2A2A;
    color: #FFFFFF;
}

.dropdown .dropdown-menu li a {
    color: #13191C;
    text-decoration: none;
    font-size: 18px;
}

/***********************
    -- APP-CONTENT --
***********************/

.app-content {
    padding: 15px;
}
