/********* !!!!!!! IMPORTANT !!!!!!!! **************

Panel' structure goes like that:

div.panel panel-primary/success/warning...(optional)
    div.panel-heading
        h3.panel-title
    div.panel-body
    div.panel-footer(optional)

*/

.panel {
    width: 100%;
    background-color: #FFFFFF;
    /*color: #8E8D8F;*/
    color: #000000;
    box-shadow: 2px 2px 2px #D2D2D2;
    margin-bottom: 15px;
}
.panel .panel-media {
    min-height: 110px;
    background-position: center;
    background-size: cover;
}

.panel .panel-heading {
    padding: 5px;
    border-bottom: 1px solid #182115;
    background-color: #D2D2D2;
}
.panel .panel-heading .panel-title {
    font-weight: 600;
    font-size: 120%;
    margin: 15px 0;
}
.panel .panel-body {
    padding: 15px;
}
.panel .panel-footer {
    padding: 15px;
}

/*********************
    -- COLORS --
*********************/

.panel-default .panel-heading {
    background-color: #FFFFFF;
    color: #8E8D8F;
}

.panel-primary .panel-heading {
    background-color: #6C6599;
    color: #FFFFFF;
    border-color: #D9D9D9;
}

.panel-primary2 .panel-heading {
    background-color: #6C6599;
    color: #FFFFFF;
    border-color: #D9D9D9;
}

.panel-success .panel-heading {
    background-color: #328396;
    color: #FFFFFF;
    border-color: #D9D9D9;
}

.panel-warning .panel-heading {
    background-color: #EBAB51;
    color: #FFFFFF;
    border-color: #D9D9D9;
}

.panel-danger .panel-heading {
    background-color: #B84D61;
    color: #FFFFFF;
    border-color: #D9D9D9;
}

/********************
    -- TITLES --
********************/

.panel .panel-body .underlined {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 1em;
}

/******************
     -- TAGS --
******************/

.panel .panel-body .tag-box {
    background-color: #E2E2E2;
    padding: 5px;
    border: 1px solid #C2C2C2;
    border-raduis: 4px;
}

/*********************
    -- LISTS --
********************/

.panel .panel-body .item-list {
    padding: 0;
    list-style-type: none;
}

.panel .panel-body .item-list .item {
    display: block;
    min-height: 3em;
}

.panel .panel-body .item-list .item .btn {
    font-size: 0.8em;
    border-bottom: 0px;
}
