.app-content .sidebar {
    background-color: #249cf3;
    box-shadow: 2px 2px 2px #249cf3;
    height: calc(100vh - 50px);
    width: 160px;
    position: fixed;
    top: 50px;
}

.app-content .sidebar .items {
    display: flex;
    flex-direction: column;
    //margin-left: 15px;
}

.app-content .sidebar .items .item {
    margin-top: 15px;
    display: block;
    width: 160px;
    height: 50px;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.3s;
}

.app-content .sidebar .items .item:hover {
    color: #249cf3;
    background-color: #FFFFFF;
}

.name-icons{
    font-size: 35px;
}