/** Param global **/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'openRegular';
	background-color: #eee;
}

#wrap{
	display: block;
	width: 100%;
	height: 100%;
}

h1{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	background-color: #62c462;
	padding: 10px;
	color: #fff;
}

/** form subscribe **/
.form{
	margin: 40px auto;
	padding-left: 20px;
	padding-bottom: 20px;
	font-family: 'Calibri';
	width: 500px;
	height: auto;
	border-left: 1px solid #62c462;
	border-bottom: 1px solid #62c462;
}

.form input, .captcha, select{
	width: 200px;
	height: 30px;
	border: 3px solid transparent;
	margin: 5px;
	padding-left: 10px;
	border-radius: 3px;
	box-shadow: 0 4px 2px -4px #000;
}

.form .ilarge{
	width: 414px;
	border: 3px solid transparent;
	margin: 5px;
	padding-left: 10px;
	border-radius: 3px;
}

.form input:focus, select:focus{
	border: 3px solid rgba(98, 196, 98, 0.6);
}
.form input[type="checkbox"]{
	width: 10px;
	height: 10px;
	margin: 5px;
	margin-left: 10px;
	padding: 0px;
	border-radius: 3px;
	box-shadow: none;
}

form .captcha{
	border: 2px solid #333;
	
}
.condition{
	margin-left: 10px;
}
form .accept{
	border: 1px solid #62c462;
	width: 414px;
	height: 30px;
	margin: 5px;
	background-color: #62c462;
	border-radius: 2px;
	color: #fff;
	font-weight: bold;
}

.accept:hover{
	border: 1px solid #62c462;
	background-color: #eee;
	color: #62c462;
	transition: 0.5s ease;
}
pannelError{
	border: 1px solid #62c462;
	width: 500px;
	height: 200px;
	padding: 0;
	margin: 0;
}